<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Adminstrator</title>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Scripts/popper.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

</head>
<body>
    <div class="row">
        <div class="col-md-3" style="background:black;">
            <div class="sidebar-header">
                <h2 style="color:white;">My Own Pizza</h2>
                <hr />
            </div>
        </div>
        <div class="col-md-9" style="background:grey;">
            <div class="input-group justify-content-start">
                <span class="input-group-addon glyphicon glyphicon-search" id="btnGroupAddon"></span>
                <input type="text" class="form-control" placeholder="Rechercher" aria-describedby="btnGroupAddon" />
            </div>

            <div class="user-side justify-content-end">
                <span class="user">
                    <span class="glyphicon glyphicon-user"></span>
                    <label>Toudoudou</label>
                </span>
                <span class="user-disconnect">
                    <span class="glyphicon glyphicon-log-out"></span>
                    <label style="color:red;">Déconnexion</label>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" style="background:black; color:white; height:100vh;">

        </div>
        <div class="col-md-9" id="main">
                <div class="row statistics">

                    <div class="card col-3">
                        <div class="card-body">
                            <div class="card-content">
                                <div class="card-img align-self-center">
                                    <i class="glyphicon glyphicon-user float-left"></i>
                                </div>
                                <div class="card-text text-right">
                                    <p>475</p>
                                    <h3>Compte crées</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card col-3">
                        <div class="card-body">
                            <div class="card-content">
                                <div class="card-img align-self-center">
                                    <i class="glyphicon glyphicon-user float-left"></i>
                                </div>
                                <div class="card-text text-right">
                                    <p>475</p>
                                    <h3>Compte crées</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card col-3">
                        <div class="card-body">
                            <div class="card-content">
                                <div class="card-img align-self-center">
                                    <i class="glyphicon glyphicon-user float-left"></i>
                                </div>
                                <div class="card-text text-right">
                                    <p>475</p>
                                    <h3>Compte crées</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card col-3">
                        <div class="card-body">
                            <div class="card-content">
                                <div class="card-img align-self-center">
                                    <i class="glyphicon glyphicon-user float-left"></i>
                                </div>
                                <div class="card-text text-right">
                                    <p>475</p>
                                    <h3>Compte crées</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row statistics">
                    <div class="card col-3">
                        <div class="card-body">
                            <div class="card-content">
                                <div class="card-img align-self-center">
                                    <i class="glyphicon glyphicon-user float-left"></i>
                                </div>
                                <div class="card-text text-right">
                                    <p>475</p>
                                    <h3>Compte crées</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card col-3">
                        <div class="card-body">
                            <div class="card-content">
                                <div class="card-img align-self-center">
                                    <i class="glyphicon glyphicon-user float-left"></i>
                                </div>
                                <div class="card-text text-right">
                                    <p>475</p>
                                    <h3>Compte crées</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card col-3">
                        <div class="card-body">
                            <div class="card-content">
                                <div class="card-img align-self-center">
                                    <i class="glyphicon glyphicon-user float-left"></i>
                                </div>
                                <div class="card-text text-right">
                                    <p>475</p>
                                    <h3>Compte crées</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card col-3">
                        <div class="card-body">
                            <div class="card-content">
                                <div class="card-img align-self-center">
                                    <i class="glyphicon glyphicon-user float-left"></i>
                                </div>
                                <div class="card-text text-right">
                                    <p>475</p>
                                    <h3>Compte crées</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="btn-row">

            </div>
        </div>
        @RenderBody()
    </div>
    </div>
</body>
</html>
