@{
    ViewBag.Title = "Pricing";
    Layout = "~/Views/Shared/_LayoutSiteVitrine.cshtml";
}
<link href="~/Content/pricing.css" rel="stylesheet" />

<div class="container" style="background:rgba(255, 255, 255, 0.82); color:black; border: 1px groove black">
    <div class="container">
        <div class="row justify-content-center" style="margin-top:20px;">
            <div class="col-md-4 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <h3 class="heading">Standard</h3>
                        <span class="subtitle">Lorem ipsum dolor sit amet</span>
                        <div class="price-value">
                            29.99
                            <span class="currency">€</span>
                            <span class="month">/mo</span>
                        </div>
                    </div>
                    <ul class="pricing-content">
                        <li>50GB Disk Space</li>
                        <li>50 Email Accounts</li>
                        <li>50GB Monthly Bandwidth</li>
                        <li>10 Subdomains</li>
                        <li>15 Domains</li>
                    </ul>
                    <a href="#" class="read">S'inscrire<i class="fa fa-angle-right"></i></a>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <h3 class="heading">Business</h3>
                        <span class="subtitle">Lorem ipsum dolor sit amet</span>
                        <div class="price-value">
                            39.99
                            <span class="currency">€</span>
                            <span class="month">/mo</span>
                        </div>
                    </div>
                    <ul class="pricing-content">
                        <li>60GB Disk Space</li>
                        <li>60 Email Accounts</li>
                        <li>60GB Monthly Bandwidth</li>
                        <li>15 Subdomains</li>
                        <li>20 Domains</li>
                    </ul>
                    <a href="#" class="read">sign up<i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div><br /><br />
</div>
