
@{
    ViewBag.Title = "Accueil";
    Layout = "~/Views/Shared/_LayoutSiteVitrine.cshtml";
}

<div class="container-fluid">
    <div class="text-capitalize text-center">
        <p><h1>Proposer la pizza revée par votre client </h1></p>
    </div>
</div>